<div class="navbar navbar-inverse bg-light " >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Shopaluru</a>
        <div class="navbar-left">
        <app-search-box> </app-search-box>
        </div>
        <div style="float:right;margin-top:10px;margin-right:10px;" class="navbar-right" >
          <div *ngIf="isLoggedin();then userLoggedin else usedloggedout">
          </div>
          <ng-template #usedloggedout>
              <app-login-button></app-login-button>
          </ng-template>
          <ng-template #userLoggedin>
              <app-logout-button></app-logout-button>
          </ng-template>
        </div>
    </div>
  </div>